#!/bin/bash

# encoder: {{ data.network1 }}, decoder: {{ data.decoder }}

/usr/local/bin/pulltest \
    /p {{ data.pull_port }} \
    /server {{ data.ip }} {{ data.pull_port }} \
    /rep '{{ data.reporter }}' \
    /s_login '{{ data.pulltest_login }}' /s_pass '{{ data.pulltest_password }}' \
    /session '{{ data.decoder }}' \
    /pulltest 500
